.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-title {
    color: #2A5C17;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
  }

  .compare-pic {
    background-color: transparent;
    border: none;
  }

  .compare-btn {
    background: transparent;
    border: none;
  }

  .bill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }