.dem, .rep {
    margin: 5px;
    padding: 5px;
    color: white;
    width: 300px;
    text-align: center;
    background-image: url('../../utils/assets/chalkboard.jpg');
    background-size: 309px 243px;
    font-family: 'Marck Script', cursive;
    font-size: 1em;
}

.dem:hover {
    border: 2px solid blue;
}

.rep:hover {
    border: 2px solid red;
}

.apple {
    height: 25px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

.name {
    font-size: 1em;
}

.title, .party {
    font-size: .75em;
}
