.dem, .rep {
    margin: 5px;
    padding: 5px;
    color: white;
    width: 300px;
    text-align: center;
    background-image: url('../../utils/assets/chalkboard.jpg');
    background-size: 310px 255px;
    font-family: 'Homemade Apple', cursive;
    font-size: .75em;
}

.dem:hover {
    border: 1px solid blue;
}

.rep:hover {
    border: 1px solid red;
}

.apple {
    height: 25px;
    float: right;
}

.name {
    font-size: 1em;
}

.title, .party {
    font-size: .75em;
}
