.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-title {
    color: white;
  }

  .compare-pic {
    background-color: transparent;
    border: none;
  }

  .compare-btn {
    background: transparent;
    border: none;
  }