.bills-container {
    padding: 10px;
    margin: 10px;
    background: url('../../utils/assets/notepad.png');
    width: 400px;
}

.bill-title, .committee, .url {
    color: #454343;
    font-size: .5em;
}